# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Flask
instance/
.webassets-cache

# PyInstaller
build/
dist/
*.spec

# Excel/Data
exports/
*.xlsx
*.csv
!multi_sheet_test.xlsx

# Logs
*.log

# Editor
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
